<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMaIAjYcrWhsW5ZrvyBFZjUBoIuAD-1ug</string>
	<key>GCM_SENDER_ID</key>
	<string>362127420225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>APP.Bedford-Autobody</string>
	<key>PROJECT_ID</key>
	<string>bedford-autobody</string>
	<key>STORAGE_BUCKET</key>
	<string>bedford-autobody.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>We collect your data to create and manage your account, store your preferences, and enhance your experience.</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:362127420225:ios:a87a95d294ce039e528fc0</string>
</dict>
</plist>
